[Unit]
Description=Bunker_Bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/BunkerBot
User=root
Group=root
ExecStart=/home/BunkerBot/venv/bin/python3 main.py
ExecReload=/home/BunkerBot/venv/bin/python3 main.py
Restart=always
RestartSec=25

[Install]

WantedBy=multi-user.target
